@page "/home"
@inject HttpClient Http


<h3>Get Page</h3>

@if(libros != null){
    <ul>
        @foreach (var libro in libros)
        {
            <li>@libro.Titulo</li>
        }
    </ul>
}else {
    <p>Error al traer los datos</p>
}

<br />

<EditForm Model="@librosPost" OnValidSubmit="@onSubmit">
    <label>
        Titulo:
        <InputText @bind-Value="librosPost.Titulo"/>
    </label>
    <label>
        Fecha publicacion:
        <InputText @bind-Value="librosPost.FechaPublicacion" />
    </label>
    <label>
        AutorLibro:
        <InputText @bind-Value="librosPost.AutorLibro" />
    </label>

    <button type="submit">Send</button>
</EditForm>

@code {
    private Libros[]? libros;

    protected override async Task OnInitializedAsync() => libros = await Http.GetFromJsonAsync<Libros[]>("http://localhost:5089/Libro");

    public class Libros {
        public string? LibreriaMaterialId { get; set; }
        public string Titulo { get; set; }
        public string? FechaPublicacion { get; set; }
        public string? AutorLibro { get; set; }
    }

    //envio de datos
    private Libros librosPost =  new Libros();

    private async void onSubmit() {
        await Http.PostAsJsonAsync("http://localhost:5089/Libro", librosPost);
    }
}
